on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: lint and test
jobs:
  golangci:
    strategy:
      matrix:
        go-version:
          - "1.21"
          - "1.22"
#          - "1.23" Currently failing in actions, with no discernible error
    name: lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7.0.0
        with:
          version: v2.0.2
      - name: test
        run: make test
